.elementor-1172 .elementor-element.elementor-element-ae93132>.elementor-widget-container {
    background-color: #F9F9F9;
}

.elementor-1172 .elementor-element.elementor-element-9eba2ae:not(.elementor-motion-effects-element-type-background),
.elementor-1172 .elementor-element.elementor-element-9eba2ae>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F9F9F9;
}

.elementor-1172 .elementor-element.elementor-element-9eba2ae {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -80px;
    margin-bottom: 0px;
    padding: 0px 0px 50px 0px;
}

.elementor-1172 .elementor-element.elementor-element-9eba2ae>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1172 .elementor-element.elementor-element-3645cf3>.elementor-container {
    max-width: 1200px;
}

.elementor-1172 .elementor-element.elementor-element-3645cf3:not(.elementor-motion-effects-element-type-background),
.elementor-1172 .elementor-element.elementor-element-3645cf3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F9F9F9;
}

.elementor-1172 .elementor-element.elementor-element-3645cf3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1172 .elementor-element.elementor-element-3645cf3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1172 .elementor-element.elementor-element-b1523bf .eael-infobox .infobox-icon img {
    background-color: #FFFFFF;
    padding: 30px 0px 30px 0px;
    width: 80px;
}

.elementor-1172 .elementor-element.elementor-element-b1523bf .eael-infobox.icon-on-left .infobox-icon {
    width: 80px;
}

.elementor-1172 .elementor-element.elementor-element-b1523bf .eael-infobox.icon-on-right .infobox-icon {
    width: 80px;
}

.elementor-1172 .elementor-element.elementor-element-b1523bf .eael-infobox .infobox-icon {
    margin: 0px 0px 0px 0px;
}

.elementor-1172 .elementor-element.elementor-element-b1523bf .eael-infobox .infobox-button .eael-infobox-button i {
    font-size: 16px;
}

.elementor-1172 .elementor-element.elementor-element-b1523bf .eael-infobox .infobox-button .eael-infobox-button img {
    height: 16px;
    width: 16px;
}

.elementor-1172 .elementor-element.elementor-element-b1523bf .eael-infobox .infobox-button .eael-infobox-button svg {
    height: 16px;
    width: 16px;
}

.elementor-1172 .elementor-element.elementor-element-b1523bf .eael-infobox .eael-infobox-button {
    color: #ffffff;
    background: #333333;
}

.elementor-1172 .elementor-element.elementor-element-b1523bf .eael-infobox .eael-infobox-button svg {
    fill: #ffffff;
}

.elementor-1172 .elementor-element.elementor-element-b1523bf .eael-infobox .eael-infobox-button:hover {
    color: #ffffff;
    background: #333333;
}

.elementor-1172 .elementor-element.elementor-element-b1523bf .eael-infobox .eael-infobox-button:hover svg {
    fill: #ffffff;
}

.elementor-1172 .elementor-element.elementor-element-b1523bf .eael-infobox .infobox-content .title {
    color: #4d4d4d;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 0px 0px 15px 0px;
}

.elementor-1172 .elementor-element.elementor-element-b1523bf .eael-infobox .infobox-content p {
    margin: 0px 0px 30px 0px;
    color: #4d4d4d;
}

.elementor-1172 .elementor-element.elementor-element-b1523bf .eael-infobox:hover .infobox-content h4 {
    transition: 100ms;
}

.elementor-1172 .elementor-element.elementor-element-b1523bf .eael-infobox:hover .infobox-content p {
    transition: 100ms;
}

.elementor-1172 .elementor-element.elementor-element-b1523bf>.elementor-widget-container {
    padding: 0px 20px 30px 20px;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
}

.elementor-1172 .elementor-element.elementor-element-0234569 .eael-infobox .infobox-icon img {
    background-color: #FFFFFF;
    padding: 30px 0px 30px 0px;
    width: 80px;
}

.elementor-1172 .elementor-element.elementor-element-0234569 .eael-infobox.icon-on-left .infobox-icon {
    width: 80px;
}

.elementor-1172 .elementor-element.elementor-element-0234569 .eael-infobox.icon-on-right .infobox-icon {
    width: 80px;
}

.elementor-1172 .elementor-element.elementor-element-0234569 .eael-infobox .infobox-icon {
    margin: 0px 0px 0px 0px;
}

.elementor-1172 .elementor-element.elementor-element-0234569 .eael-infobox .infobox-button .eael-infobox-button i {
    font-size: 16px;
}

.elementor-1172 .elementor-element.elementor-element-0234569 .eael-infobox .infobox-button .eael-infobox-button img {
    height: 16px;
    width: 16px;
}

.elementor-1172 .elementor-element.elementor-element-0234569 .eael-infobox .infobox-button .eael-infobox-button svg {
    height: 16px;
    width: 16px;
}

.elementor-1172 .elementor-element.elementor-element-0234569 .eael-infobox .eael-infobox-button {
    color: #ffffff;
    background: #333333;
}

.elementor-1172 .elementor-element.elementor-element-0234569 .eael-infobox .eael-infobox-button svg {
    fill: #ffffff;
}

.elementor-1172 .elementor-element.elementor-element-0234569 .eael-infobox .eael-infobox-button:hover {
    color: #ffffff;
    background: #333333;
}

.elementor-1172 .elementor-element.elementor-element-0234569 .eael-infobox .eael-infobox-button:hover svg {
    fill: #ffffff;
}

.elementor-1172 .elementor-element.elementor-element-0234569 .eael-infobox .infobox-content .title {
    color: #4d4d4d;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 0px 0px 15px 0px;
}

.elementor-1172 .elementor-element.elementor-element-0234569 .eael-infobox .infobox-content p {
    margin: 0px 0px 30px 0px;
    color: #4d4d4d;
}

.elementor-1172 .elementor-element.elementor-element-0234569 .eael-infobox:hover .infobox-content h4 {
    transition: 100ms;
}

.elementor-1172 .elementor-element.elementor-element-0234569 .eael-infobox:hover .infobox-content p {
    transition: 100ms;
}

.elementor-1172 .elementor-element.elementor-element-0234569>.elementor-widget-container {
    padding: 0px 20px 30px 20px;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
}

.elementor-1172 .elementor-element.elementor-element-61278ed .eael-infobox .infobox-icon img {
    background-color: #FFFFFF;
    padding: 30px 0px 30px 0px;
    width: 80px;
}

.elementor-1172 .elementor-element.elementor-element-61278ed .eael-infobox.icon-on-left .infobox-icon {
    width: 80px;
}

.elementor-1172 .elementor-element.elementor-element-61278ed .eael-infobox.icon-on-right .infobox-icon {
    width: 80px;
}

.elementor-1172 .elementor-element.elementor-element-61278ed .eael-infobox .infobox-icon {
    margin: 0px 0px 0px 0px;
}

.elementor-1172 .elementor-element.elementor-element-61278ed .eael-infobox .infobox-button .eael-infobox-button i {
    font-size: 16px;
}

.elementor-1172 .elementor-element.elementor-element-61278ed .eael-infobox .infobox-button .eael-infobox-button img {
    height: 16px;
    width: 16px;
}

.elementor-1172 .elementor-element.elementor-element-61278ed .eael-infobox .infobox-button .eael-infobox-button svg {
    height: 16px;
    width: 16px;
}

.elementor-1172 .elementor-element.elementor-element-61278ed .eael-infobox .eael-infobox-button {
    color: #ffffff;
    background: #333333;
}

.elementor-1172 .elementor-element.elementor-element-61278ed .eael-infobox .eael-infobox-button svg {
    fill: #ffffff;
}

.elementor-1172 .elementor-element.elementor-element-61278ed .eael-infobox .eael-infobox-button:hover {
    color: #ffffff;
    background: #333333;
}

.elementor-1172 .elementor-element.elementor-element-61278ed .eael-infobox .eael-infobox-button:hover svg {
    fill: #ffffff;
}

.elementor-1172 .elementor-element.elementor-element-61278ed .eael-infobox .infobox-content .title {
    color: #4d4d4d;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 0px 0px 15px 0px;
}

.elementor-1172 .elementor-element.elementor-element-61278ed .eael-infobox .infobox-content p {
    margin: 0px 0px 30px 0px;
    color: #4d4d4d;
}

.elementor-1172 .elementor-element.elementor-element-61278ed .eael-infobox:hover .infobox-content h4 {
    transition: 100ms;
}

.elementor-1172 .elementor-element.elementor-element-61278ed .eael-infobox:hover .infobox-content p {
    transition: 100ms;
}

.elementor-1172 .elementor-element.elementor-element-61278ed>.elementor-widget-container {
    padding: 0px 20px 30px 20px;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
}

.elementor-1172 .elementor-element.elementor-element-d553530 .eael-infobox .infobox-icon img {
    background-color: #FFFFFF;
    padding: 30px 0px 30px 0px;
    width: 80px;
}

.elementor-1172 .elementor-element.elementor-element-d553530 .eael-infobox.icon-on-left .infobox-icon {
    width: 80px;
}

.elementor-1172 .elementor-element.elementor-element-d553530 .eael-infobox.icon-on-right .infobox-icon {
    width: 80px;
}

.elementor-1172 .elementor-element.elementor-element-d553530 .eael-infobox .infobox-icon {
    margin: 0px 0px 0px 0px;
}

.elementor-1172 .elementor-element.elementor-element-d553530 .eael-infobox .infobox-button .eael-infobox-button i {
    font-size: 16px;
}

.elementor-1172 .elementor-element.elementor-element-d553530 .eael-infobox .infobox-button .eael-infobox-button img {
    height: 16px;
    width: 16px;
}

.elementor-1172 .elementor-element.elementor-element-d553530 .eael-infobox .infobox-button .eael-infobox-button svg {
    height: 16px;
    width: 16px;
}

.elementor-1172 .elementor-element.elementor-element-d553530 .eael-infobox .eael-infobox-button {
    color: #ffffff;
    background: #333333;
}

.elementor-1172 .elementor-element.elementor-element-d553530 .eael-infobox .eael-infobox-button svg {
    fill: #ffffff;
}

.elementor-1172 .elementor-element.elementor-element-d553530 .eael-infobox .eael-infobox-button:hover {
    color: #ffffff;
    background: #333333;
}

.elementor-1172 .elementor-element.elementor-element-d553530 .eael-infobox .eael-infobox-button:hover svg {
    fill: #ffffff;
}

.elementor-1172 .elementor-element.elementor-element-d553530 .eael-infobox .infobox-content .title {
    color: #4d4d4d;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 0px 0px 15px 0px;
}

.elementor-1172 .elementor-element.elementor-element-d553530 .eael-infobox .infobox-content p {
    margin: 0px 0px 30px 0px;
    color: #4d4d4d;
}

.elementor-1172 .elementor-element.elementor-element-d553530 .eael-infobox:hover .infobox-content h4 {
    transition: 100ms;
}

.elementor-1172 .elementor-element.elementor-element-d553530 .eael-infobox:hover .infobox-content p {
    transition: 100ms;
}

.elementor-1172 .elementor-element.elementor-element-d553530>.elementor-widget-container {
    padding: 0px 20px 30px 20px;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
}

.elementor-1172 .elementor-element.elementor-element-5760dc6:not(.elementor-motion-effects-element-type-background),
.elementor-1172 .elementor-element.elementor-element-5760dc6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #0A1024 0%, #f2295b 100%);
}

.elementor-1172 .elementor-element.elementor-element-5760dc6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1172 .elementor-element.elementor-element-5760dc6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1172 .elementor-element.elementor-element-1b78c92>.elementor-widget-container {
    margin: -70px 0px 0px 0px;
}

.elementor-1172 .elementor-element.elementor-element-335b661 {
    margin-top: -50px;
    margin-bottom: 0px;
    padding: 0px 0px 100px 0px;
}

.elementor-1172 .elementor-element.elementor-element-4447298>.elementor-container {
    max-width: 1160px;
}

.elementor-1172 .elementor-element.elementor-element-73857a8 .eael-tm {
    border-radius: 10px 10px 10px 10px;
}

.elementor-1172 .elementor-element.elementor-element-73857a8 .eael-tm-content-normal {
    background-color: #F0F0F0;
    border-radius: 0px 0px 10px 10px;
    padding: 25px 25px 25px 25px;
}

.elementor-1172 .elementor-element.elementor-element-73857a8 .eael-tm-image img,
.elementor-1172 .elementor-element.elementor-element-73857a8 .eael-tm-overlay-content-wrap:before {
    border-radius: 10px 10px 0px 0px;
}

.elementor-1172 .elementor-element.elementor-element-73857a8 .eael-tm-image {
    margin-bottom: 0px;
}

.elementor-1172 .elementor-element.elementor-element-73857a8 .eael-tm-name {
    margin-bottom: 10px;
}

.elementor-1172 .elementor-element.elementor-element-73857a8 .eael-tm-position {
    margin-bottom: 10px;
}

.elementor-1172 .elementor-element.elementor-element-73857a8 .eael-tm-description {
    margin-bottom: 10px;
}

.elementor-1172 .elementor-element.elementor-element-73857a8 .eael-tm-social-links li:not(:last-child) {
    margin-right: 10px;
}

.elementor-1172 .elementor-element.elementor-element-73857a8 .eael-tm-social-links .eael-tm-social-icon {
    font-size: 14px;
    line-height: 14px;
    width: 14px;
}

.elementor-1172 .elementor-element.elementor-element-73857a8 .swiper-container-wrap .swiper-button-next,
.elementor-1172 .elementor-element.elementor-element-73857a8 .swiper-container-wrap .swiper-button-prev {
    font-size: 22px;
}

.elementor-1172 .elementor-element.elementor-element-73857a8 .swiper-container-wrap .swiper-button-prev {
    left: -40px;
}

.elementor-1172 .elementor-element.elementor-element-73857a8 .swiper-container-wrap .swiper-button-next {
    right: -40px;
}

.elementor-1172 .elementor-element.elementor-element-73857a8>.elementor-widget-container {
    margin: -30px 0px 30px 0px;
}

.elementor-1172 .elementor-element.elementor-element-0d61c0f {
    width: 100%;
    max-width: 100%;
    align-self: center;
}

.elementor-1172 .elementor-element.elementor-element-30cb93b {
    margin-top: -50px;
    margin-bottom: 0px;
}

@media(min-width:768px) {
    .elementor-1172 .elementor-element.elementor-element-c4ac818 {
        width: 100%;
    }
}

/* Start custom CSS for section, class: .elementor-element-5760dc6 */

.serv-wrap {
    display: none;
}

/* End custom CSS */

/* Start custom CSS for hot-deal, class: .elementor-element-1b78c92 */

.post-detail-gallery-video-box .rounded-circle.spinner {
    display: none;
}

/* End custom CSS */

/* Start custom CSS for cta-simple, class: .elementor-element-239b82a */

.blue-layer:before {
    opacity: 0.1 !important;
}

/* End custom CSS */

/* Start custom CSS for blog_grid, class: .elementor-element-1562a24 */

.blog-wrap {
    display: none
}

/* End custom CSS */